/WS1718_skroch_p2a2/build/
/WS1718_skroch_p2a2/dist/
/WS1718_skroch_p2a3/build/
/WS1718_skroch_p2a3/dist/
/WS1718_skroch_p2a1/build/
/WS1718_skroch_p2a1/dist/
/WS1718_skroch_p2a1_test5/build/
/WS1718_skroch_p2a1_test5/dist/
/WS1718_skroch_p2a1_test6/build/
/WS1718_skroch_p2a1_test6/dist/